.main .container-fluid {
     padding: 0 0px !important; 
}
#bk{
	background-color:#F0503C;
	border:0px !important;
	height:270px !important;
}
.bgcolor{
	color:white;
	font-family: "Times New Roman"

}
#lawM{
	margin-top:0% !important;
	margin-left:5%;
	font-size: 90px;
	font-family: "Baskerville Old Face"
	
}
#techH{
	margin-left:5%;
	font-size: 90px;
	font-family: "Baskerville Old Face";
	margin-top:-43px;

	
}
@media (max-width: 600px) {
 #lawM{
	margin-top:13% !important;
	margin-left:12%;
	font-size: 52px;
	font-family: "Baskerville Old Face"

}
#techH{
	margin-left:15%;
	font-size: 52px;
	font-family: "Baskerville Old Face"
	
}
.app-dashboard{
height:auto !important
}
  
}
.comapany_desc{
	margin-left:6%;
	width:89%;

}
.desc{
	color:white;
	font-family: "Times New Roman";
	border:0px!important
}
.blankline{
	background-color:white;
	width:89%;
	margin-top:4%;
}
