<header id="header">
<div class="project-context hidden-xs dropdown  alignMenu" dropdown>

  
  <span class="label"></span>
    <span class="project-selector topAlign logout"> </span>

<div class="btn-group pull-right" style="margin-right: 4%;color:black;padding-left:6%;" dropdown>
            <p dropdownToggle  class="dropdown-toggle">
               {{username}}<span class="caret"></span>
            </p>
            <ul *dropdownMenu class="dropdown-menu logout-dropdown" role="menu">
              <li role="menuitem"><a class="dropdown-item" (click)="logout()">LogOut</a></li>
          
            </ul>
  </div>


</div>
  <div id="logo-group">

   
  </div>


 
  

</header>