

.userImage{
    width:auto !important;
    margin-left: 1%;

}
.topAlign{
  margin-top: -21%;

 
}
#header{

   background-image: linear-gradient(to bottom,#81bcde,#81bcde);
}
.logout{
	 margin-left:90%;
}
.alignMenu{
	height:50px;
}

